<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Статьи - {{ category_name }}</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style media="screen">
      .centered{
        margin: 0 auto;
        width: 80%;
      }

      @media screen and (min-width: 480px) {
          .centered{
                margin: 0 auto;
                width: 95%;
              }
       }
    </style>
  </head>
  <body>

    <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="{{ url_for('index') }}" class="pure-menu-link">Главная</a></li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="{{ url_for('articles_all') }}" id="menuLink1" class="pure-menu-link">Все статьи</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="{{ url_for('articles_category', category_name='science') }}" class="pure-menu-link">Science</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('articles_category', category_name='reader') }}" class="pure-menu-link">Reader</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('articles_category', category_name='politics') }}" class="pure-menu-link">Politics</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('articles_category', category_name='tech') }}" class="pure-menu-link">Tech</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('articles_category', category_name='health') }}" class="pure-menu-link">Health</a></li>
            </ul>
        </li>
      </ul>
    </div>

    <br/>

    <div class="centered">
      <h3>Всего статей в выбранной категории - {{ articles_count }}</h3>

      <table class="pure-table pure-table-bordered">
      <thead>
          <tr>
              <th>id</th>
              <th width="20%">Заголовок</th>
              <th>Описание</th>
              <th width="20%">Ссылка</th>
          </tr>
      </thead>

      <tbody>

        {% for article in articles %}
          <tr>
              <td>{{ article.id }}</td>
              <td>{{ article.title }}</td>
              <td>{{ article.summary }}</td>
              <td><a href="{{ url_for('articles_single', id=article.id) }}">{{ article.link }}</a></td>
          </tr>
        {% endfor %}

        <!--
        <tr>
            <td>1</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut orci porta, egestas lorem a, blandit orci. Nunc laoreet maximus tellus non ultricies. Nunc suscipit aliquam sollicitudin. Nam eu nisl accumsan, volutpat sapien id, imperdiet nisi. Curabitur vehicula mollis gravida. Donec est enim, condimentum et convallis vel, tristique ac ipsum. Donec interdum pretium dolor at tincidunt. Ut tortor sem, condimentum a molestie eget, venenatis venenatis felis. Praesent eleifend urna est. Nam tristique diam in sagittis pellentesque.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        </tr>
        -->
      </tbody>
    </table>

    </div>

  </body>
</html>
